/********************************/
/** TOP HEADER                 **/
/********************************/
.site-header {
    box-shadow: 0.1rem 0.1rem 0.5rem 0.3rem rgba(0,0,0,0.2);
}

.menu-row a:hover {
    color: #b80000;
}

.menu-row a.dropdown-toggle[aria-expanded="true"] {
    color: #b80000;
    text-decoration: underline;
}

/********************************/
/** FLEX DEFS                  **/
/********************************/
.flex-8 {
    flex: 8;
}
.flex-7 {
    flex: 7;
}
.flex-6 {
    flex: 6;
}
.flex-5 {
    flex: 5;
}
.flex-4 {
    flex: 4;
}
.flex-3 {
    flex: 3;
}
.flex-2 {
    flex: 2;
}
.flex-1 {
    flex: 1;
}

/********************************/
/** MODIFIERS                  **/
/********************************/
.homepage {
    padding-top: 50px;
}
.product .card-img-top {
    border-radius: 0;
}

.product .card {
    border-radius: 0;
}

.product {
    padding-top: 50px;
}

.homepage .flex-md-row .page {
    min-height: 75vh;
}
.homepage .display-3 {
    white-space: pre-line;
    line-height: 4rem;
}

.bg-building {
    background-image: url("../assets/test_bg.jpg");
	background-position: center left;
	background-repeat: no-repeat;
	height: 90vh;
	position: sticky;
	top: 100px;
}

.bg-careers {
	background-image: url("../assets/Careers_image.jpg");
	background-position: center left;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	position: sticky;
	top: 100px;
}

.text-black {
    color: #000;
}
.text-denim {
    color: #303844;
}

.input-group {
    min-width: 300px;
}

.d-underline:after {
    margin-top: 15px;
    content: "";
    width: 30%;
    height: 3px;
    display: block;
    background-color: #b80000;
}
.oi.align-center {
    display: block;
    text-align: center;
}

/********************************/
/** TABLE                      **/
/********************************/
.table.borderless thead tr th {
    position: relative;
    border-top: none;
    border-bottom: none;
}
.table.borderless tbody tr td {
    border-top: none;
    padding: 1.5rem .75rem;
}
.table.borderless thead tr th:not(:last-child):after {
    content: '';
    position: absolute;
    right: 0;
    height: 25px;
    width: 1px;
    margin-right: 2px;
    display: inline-block;
    background-color:#dee2e6;
}

/********************************/
/** DROPDOWN                   **/
/********************************/
.dropdown-toggle::after {
    display:none
}
.dropdown.show {
    position: inherit;
}

.dropdown-menu.show {
    width: 100%;
    background-color: #efefef;
    box-shadow: 0.1rem 0.4rem 0.5rem 0.1rem rgba(0,0,0,0.2);
}

.border-radius-0 {
    border-radius: 0;
}
.dropdown-menu.show .btn.bg-white:hover {
    color: #fff;
    /* Hate myself for this important */
    background-color: #343a40 !important;
    border-color: #343a40;
}

.filter button {
    position: relative;
}

.oi.float-right {
    position: absolute;
    right: 0.4rem;
    top: 0.55rem;
    font-weight: 100;
    font-size: 0.6rem;
}

/********************************/
/** COLORS                     **/
/********************************/
.text-d-red {
    color: #b80000;
}

.bg-d-red {
    background-color: #b80000;
}

.bg-d-grey {
    background-color: #efefef;
}

.btn-red {
    background-color: #b80000;
    color: #fff;
}

/********************************/
/** PRDOCUTS                   **/
/********************************/
.products {
    padding-top: 50px;
}
.products .card-img-top {
    border-radius: 0;
    width: auto;
    height: auto;
}

.products .card {
    flex: 1 0 20%;
}
.products .card .card-body {
    padding: 0.5rem 0rem 2rem 0rem;
}
.products .card:not(:nth-child(4n)) {
    margin-right: 1rem;
}

/********************************/
/** HOMEPAGE                   **/
/********************************/

@media (min-height: 790px) {
	h1 {
		margin: 40px 0;
	}

	h2 {
		margin: 20px 0;
	}

	h1 + p {
		margin: 40px 0;
	}

	h2 + p {
		margin: 20px 0;
	}

	h1 + p + button {
		margin: 40px 0;
	}
}

@media (max-width: 1300px) {
	h1,
	h2 {
		margin: .5rem 0;
	}

	h1 + p,
	h2 + p {
		margin: .5rem 0;
	}

	h1 + p + button {
		margin: .5rem 0;
	}
}

.video-container {
	overflow: hidden;
	position: relative;
}

.city-bg {
	background-image: linear-gradient(to bottom, rgba(170,0,0,0.8) 0%,rgba(170,0,0,0.8) 100%), url("../assets/city-bg.jpg");
	background-position: center center;
	background-size: cover;
}

.video-content {
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
}

.stick-to-top {
	position: sticky;
	top: 90px;
	z-index: 9;
}

.insight-heading {
	box-shadow: 0 0 20px 10px #f8f9fa;
	margin-bottom: 55px;
}

.careers-heading {
	box-shadow: 0 0 20px 10px #efefef;
	margin-bottom: 55px;
}
